{% if submitted %}
    <div class="plugin-simplesearch-results">
        {% if query == false %}
            <p>Please enter a search term.</p>
        {% elseif results|length == 0 %}
            <p>No results found for '{{ query }}' found.</p>
        {% else %}
            <p>{{ results|length }} Results found.</p>
            {% for result in results %}
                <div class="result">
                    <div class="title">{{ link(result.route, result.title) }}</div>
                    <div class="url">{{ url(result.route) }}</div>
                    {% if result.date %}
                        <div class="date">{{ result.date|strftime('%e. %B %Y') }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
